flow.json
[{"id":"55efc928.75e348","type":"tab","label":"New Devices","disabled":false,"info":"Monitors the network for Tasmota devices and updates the database when it finds them"},{"id":"a788035b.7e113","type":"tab","label":"MQTT Monitor","disabled":true,"info":""},{"id":"aa0583b6.c7f328","type":"tab","label":"Device Config","disabled":false,"info":""},{"id":"ddd43210.4ae788","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4307743.ee07a8","type":"mqtt-broker","z":"","name":"pi-sbc1","broker":"home.soligeo.scot","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7305c3da.a76cd4","type":"ui_tab","z":"","name":"MQTT","icon":"input"},{"id":"a377b099.6c1d4","type":"ui_group","z":"","name":"Device Editor","tab":"eb504a43.9d12d","disp":true,"width":"6","collapse":false},{"id":"ee4375a5.968728","type":"cloudantplus-selector","z":"","host":"http://localhost:5984","name":"Local DB"},{"id":"eb504a43.9d12d","type":"ui_tab","z":"","name":"Devices","icon":"dashboard"},{"id":"d6a5ebc9.80c608","type":"ui_group","z":"","name":"MQTT Monitor","tab":"7305c3da.a76cd4","disp":true,"width":"24","collapse":false},{"id":"eb4a4526.612e38","type":"comment","z":"55efc928.75e348","name":"Monitoring Devices","info":"## LWT Messages\nWhen an online messages is received look up the device by name (from the topic) in the database.\n\nIf it is found update the record to show it's online.\n\nIf it isn't found send a Status 5 message to get the MAC Address.\n\n## Status NET (5)\nWhen a network status is received extract the MAC address and look up the database.\n\nIf it's found an the device name is wrong update with the correct name and restart.  This will eventually send a new LWT message.\n\nIf the device is not present create a new record for it.\n","x":1014,"y":26,"wires":[]},{"id":"48037904.d52558","type":"mqtt in","z":"55efc928.75e348","name":"Find new devices","topic":"tele/sonoff/LWT","qos":"0","broker":"d4307743.ee07a8","x":135,"y":221,"wires":[["aaab826d.5082c8"]]},{"id":"2c09ddbf.1b500a","type":"debug","z":"55efc928.75e348","name":"New Device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":848,"y":160,"wires":[]},{"id":"aaab826d.5082c8","type":"function","z":"55efc928.75e348","name":"Online Only","func":"if (msg.payload === \"Online\") {\n return msg;   \n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"x":343,"y":221,"wires":[["2c09ddbf.1b500a","d8195f57.cc392"]]},{"id":"42b26a83.d96034","type":"mqtt out","z":"55efc928.75e348","name":"New Device Request","topic":"cmnd/sonoff/Status","qos":"2","retain":"","broker":"d4307743.ee07a8","x":849,"y":258,"wires":[]},{"id":"d8195f57.cc392","type":"change","z":"55efc928.75e348","name":"Net Status Request","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":261,"wires":[["42b26a83.d96034"]]},{"id":"84fe9cbd.38ba3","type":"mqtt in","z":"55efc928.75e348","name":"Get New Device Net Status","topic":"stat/sonoff/STATUS5","qos":"2","broker":"d4307743.ee07a8","x":166,"y":361,"wires":[["c110d00d.b00318"]]},{"id":"c110d00d.b00318","type":"json","z":"55efc928.75e348","name":"","property":"payload","action":"","pretty":true,"x":386,"y":363,"wires":[["c4f0246e.0a20f8"]]},{"id":"c4f0246e.0a20f8","type":"debug","z":"55efc928.75e348","name":"Net Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":646,"y":362,"wires":[]},{"id":"e49a6896.dd50d8","type":"mqtt in","z":"a788035b.7e113","name":"All MQTT","topic":"#","qos":"0","broker":"d4307743.ee07a8","x":93,"y":107,"wires":[["401dbce8.5ea494"]]},{"id":"5615b12c.282ef8","type":"debug","z":"a788035b.7e113","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":594,"y":91,"wires":[]},{"id":"401dbce8.5ea494","type":"function","z":"a788035b.7e113","name":"Msgs Manager","func":"// Get the list to work with\nvar msgList = context.get(\"msgList\");\nif (!msgList) {\n    context.set(\"msgList\", msgList = []);\n}\nif (msgList.length > 5) {\n    msgList.shift();\n}\nif (msg.topic !== \"bump\"){\n    msgList.push({topic: msg.topic, payload: msg.payload});\n}\nreturn {count: msgList.length, payload: msgList};","outputs":1,"noerr":0,"x":294,"y":91,"wires":[["5615b12c.282ef8","a343c4d6.c08888"]]},{"id":"a343c4d6.c08888","type":"ui_template","z":"a788035b.7e113","group":"d6a5ebc9.80c608","name":"MQTT Messages","order":0,"width":"24","height":"8","format":"<div>\n    <div ng-repeat=\"m in msg.payload\" style=\"margin-bottom: 2px;\">\n        <div>{{m.topic}}&nbsp;{{m.payload}}</div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":556,"y":172,"wires":[[]]},{"id":"8abed7c1.1efdc","type":"inject","z":"a788035b.7e113","name":"","topic":"bump","payload":"bump message","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":139,"y":42,"wires":[["401dbce8.5ea494"]]},{"id":"be4018c5.26a7c","type":"inject","z":"aa0583b6.c7f328","name":"","topic":"","payload":"device:test-first-1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":127,"wires":[["a21e868b.907698"]]},{"id":"f139ed8a.e43d28","type":"file in","z":"aa0583b6.c7f328","name":"Device Edit template","filename":"/root/.node-red/projects/hameboss-node-red/DeviceEdit.html","format":"utf8","chunk":false,"sendError":true,"x":380,"y":220,"wires":[["97e04fe0.4398b8"]]},{"id":"a21e868b.907698","type":"cloudantplus-selector in","z":"aa0583b6.c7f328","name":"Get Device Data","cloudant":"ee4375a5.968728","database":"hameboss","service":"_ext_","search":"_id_","design":"","index":"","x":386,"y":133,"wires":[["1d736b9b.e4e2a4"]]},{"id":"1d736b9b.e4e2a4","type":"ui_template","z":"aa0583b6.c7f328","group":"a377b099.6c1d4","name":"Device Editor","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":913,"y":179,"wires":[["c2fb1095.5432d8"]]},{"id":"c2fb1095.5432d8","type":"debug","z":"aa0583b6.c7f328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":988,"y":306,"wires":[]},{"id":"ae4722ec.6c672","type":"cloudantplus-selector in","z":"aa0583b6.c7f328","name":"Get Device List","cloudant":"ee4375a5.968728","database":"hameboss","service":"_ext_","search":"_query_","design":"","index":"","x":364,"y":346,"wires":[["cfc229da.348528"]]},{"id":"6ab752b9.002034","type":"inject","z":"aa0583b6.c7f328","name":"Device List Query","topic":"","payload":"{\"selector\":{\"_id\":{\"$gt\":\"device:\",\"$lt\":\"device:zzzzzzz\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":346,"wires":[["ae4722ec.6c672"]]},{"id":"cfc229da.348528","type":"debug","z":"aa0583b6.c7f328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":632,"y":358,"wires":[]},{"id":"97e04fe0.4398b8","type":"change","z":"aa0583b6.c7f328","name":"Make template","rules":[{"t":"move","p":"payload","pt":"msg","to":"template","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":607,"y":219,"wires":[["1d736b9b.e4e2a4"]]},{"id":"53fc9980.500c68","type":"watch","z":"aa0583b6.c7f328","name":"Template changed","files":"/root/.node-red/projects/hameboss-node-red/DeviceEdit.html","recursive":"","x":118,"y":220,"wires":[["f139ed8a.e43d28"]]}]